name: immich

services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    # extends:
    #   file: hwaccel.transcoding.yml
    #   service: cpu # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding
    volumes:
      - ${PHOTOS_FOLDER}:/data
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - ${SECRETS_ENV_FILE}
    ports:
      - '2283:2283'
    depends_on:
      - redis
      - database
    restart: always
    healthcheck:
      disable: false

  immich-machine-learning:
    container_name: immich_machine_learning
    # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
    # Example tag: ${IMMICH_VERSION:-release}-cuda
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    # extends: # uncomment this section for hardware acceleration - see https://docs.immich.app/features/ml-hardware-acceleration
    #   file: hwaccel.ml.yml
    #   service: cpu # set to one of [armnn, cuda, rocm, openvino, openvino-wsl, rknn] for accelerated inference - use the `-wsl` version for WSL2 where applicable
    volumes:
      - model-cache:/cache
    restart: always
    healthcheck:
      disable: false

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8@sha256:81db6d39e1bba3b3ff32bd3a1b19a6d69690f94a3954ec131277b9a26b95b3aa
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    env_file:
      - ${SECRETS_ENV_FILE}
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${APP_DATA_FOLDER}/${DB_DATA_FOLDER}:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always

  # This is a custom container that was added by me.
  immich-db-dump:
    container_name: immich_db_dump
    image: postgres:14
    profiles: ["manual"]
    depends_on:
      - database
    env_file:
      - ${SECRETS_ENV_FILE}
    environment:
      DB_DUMP_RETENTION: 7
      DB_USERNAME: ${DB_USERNAME}
      DB_NAME: ${DB_NAME}
    volumes:
      - ${APP_DATA_FOLDER}/${DB_DUMPS_FOLDER}:/db_dumps
      - /container_scripts:/scripts:ro
    entrypoint: ["/bin/sh", "/scripts/db_dump.sh"]

volumes:
  model-cache: